* {
    margin: 0px;
    box-sizing: border-box;
}

html,body {
    font-family: 'Montserrat', sans-serif;
}

a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 1.2vw;
}

.backgroundpth {
    z-index: -1;
    max-width: 100%;
}

.backgroundforms {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    max-width: 100%;
}

.rectangle {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;

    background: rgba(17, 99, 99, 0.8);
}

.all {
    position: relative;
    
}

.login {
    display: flex;
    flex-direction: column;
    position: absolute;
   
       
}

.padding {
    margin-bottom: 3%;
}

.input {
    padding-left: 7%;
    padding-top: 7%;
    padding-bottom: 7%;
    width: 100%;
    background: rgba(196, 196, 196, 0.33);
    backdrop-filter: blur(25px);
    border-radius: 31px;
    border: none;
    outline: none;
    color: white;
    font-size: 1vw;
    font-weight: 100;
}

.button {
    width: 100%;
    padding-top: 7%;
    padding-bottom: 7%;
    left: 538px;
    top: 674px;
    background: #137070;
    box-shadow: 0px 4px 9px -3px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(25px);
    border-radius: 31px;
    border: none;
    outline: none;
    color: white;
    font-size: 1.2vw;
}

.position{
    position: absolute; top: 30%; left: 35%; right: 35%;
    z-index: 1;
}

.positionlogo{
    margin-left: 20%;
    margin-bottom: 7%;
}

.text{
    color: white;
    font-size: 1.2vw;
    margin-left: 20%;
    margin-top: 5%;
}

.backgroundpn{
    display: none;
}

@media only screen and (max-width: 420px) {

    .backgroundpth{
        display: none;

    }
    .backgroundpn{
        width: 100%;
    }
    .backgroundforms{
        display: none;
    }
    .positionlogo{
        width: 50%;
    }

    .input{
       font-size: medium;
       padding: 10%;
       padding-left: 10%;
       
    }

    .all{
        width: 100%;
    }

    .button{
        font-size: medium;
    }

    .text{
        font-size: medium;
        margin-left: 10%;

    }

    a{
        font-size: medium;
    }

    .position {
        width: 80%;
        margin-right: 10%;
        position: absolute; top: 20%; left: 10%; right: 10%;
    };

    

    
}

